<body>
  <div class="form-group">
    <div class="container">
      <div id="loginForm">
        <img src="assets/Images/wedlocksw.png" alt="Wonder Events Logo" class="navbar-logo rounded-rectangle"><br /><br />
        <div>
          <h5 class="h5"><i><b>Welcome to Wedlock - Where Love Knows No Bounds!</b></i></h5>
          <h5 class="h5"><i><b>At Wedlock, we embrace your unique journey, celebrating love's magic,</b></i></h5>
          <h5 class="h5"><i><b>guiding your matrimony, and crafting timeless tales of commitment.</b></i></h5>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <form class="small-form">
          <h5 class="h5"><i><b>Founders:</b></i></h5>
          <p class="founder-names"><b>Shivasai</b></p>
          <p class="founder-names"><b>Sandeep</b></p>
          <p class="founder-names"><b>Swati</b></p>
        </form>
        <form class="small-form">
          <h5 class="h5"><i><b>Contact Information</b></i></h5>
          <p><b>Email:  wedlockmatrimony.connect&#64;gmail.com</b></p>
          <p><b>Phone Number: 7013863446</b></p>
        </form>
      </div>
    </div>
  </div>
</body>
